.hidden {
    display : none;
  }
body {
  background-size: cover;
  background-position: center center;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.5s;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  position:absolute;
  width:100%;
  height:100%;
  left: 0px;
  top: 0px;
  right:0px;
  bottom:0px;
  z-index: -1;
  opacity:90%;
}
